<div class="container-sm my-5">
    <form [formGroup]="loginForm" (submit)="Login()" >
      <div class="row">
        <div class="col-md-12 mb-2">
          <mat-form-field class="d-flex">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" 
                   placeholder="Email">
            @if (email.hasError('email') && !email.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
            }
            @if (email.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-2">
          <mat-form-field class="d-flex">
            <mat-label>Password</mat-label>
            <input type="text" matInput formControlName="password" 
                   placeholder="Enter a password">
            @if (password.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-5 text-end">
          <button mat-raised-button color="primary">Sign In</button>
        </div>
        <div class="col-md-12 mb-5 text-center" [routerLink]="['/auth/signup']">
          Sign Up
        </div>
      </div>
      
      
      
      </form>
</div>