@if(bookObj){
    <div class="border rounded p-3 bookCard">
        <div class="text-center border-bottom">
            {{bookObj.Name}}
        </div>
        <div class="text-center">
            <img [height]="200" [src]="bookObj.Cover" alt="image">
        </div>
        <div class="text-secondary border-bottom">
            {{bookObj.Title}}
        </div>
        <div class="text-success">
            {{bookObj.Price | currency : 'INR'}}
        </div>
        <div class="text-center">
            @if(userObj.id && bookObj.PurchasedBy.includes(userObj.id)){
                <button mat-raised-button  color="primary" (click)="viewBook(bookObj.Id)" >View  <mat-icon>visibility</mat-icon></button>
                <div class="p-2 mt-2">
                    <mat-progress-bar mode="determinate" [value]="bookObj.LastReadPosition | appProgress : userObj.id : bookObj.Data.length"></mat-progress-bar>
                </div>
            }@else {
                <div class="mb-4" >
                    <button mat-flat-button color="primary" (click)="purchaseBook(bookObj.Id)">Purchase  <mat-icon>favorite</mat-icon></button>
                </div>
            }
        </div>
    </div>
}
