@if(bookObj){
    <div class="border rounded py-3">
        <div class="text-center">
            {{bookObj.Name}}
        </div>
        <div class="image">
            <img src="assets/images/book1.jpg" alt="fds">
            <img [src]="bookObj.Cover" alt="image">
        </div>
        <div>
            {{bookObj.Title}}
        </div>
        <div>
            {{bookObj.Price | currency : 'INR'}}
        </div>
        <div>
            @if(userObj.id && bookObj.PurchasedBy.includes(userObj.id)){
                <mat-progress-bar mode="determinate" [value]="bookObj.LastReadPosition | appProgress : userObj.id : bookObj.Data.length"></mat-progress-bar>
                <button  mat-raised-button color="primary" (click)="viewBook(bookObj.Id)" >View</button>
            }@else {
                <button  mat-raised-button color="primary" (click)="purchaseBook(bookObj.Id)">Purchase</button>
            }
        </div>
    </div>
}
