<div class="container-sm my-5 d-flex justify-content-center">
    <form [formGroup]="signupForm" (submit)="submit()">
        <div class="row signupBox border rounded p-5">
          <div class="col-md-12 text-center h3 mb-4">
            Register with us 
          </div>
            <div class="col-md-12 mb-2">
                <mat-form-field class="d-flex">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" 
                           placeholder="Name">
                    @if (name.hasError('required')) {
                      <mat-error>Name is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>
            </div>
            <div class="col-md-12 mb-2">
                <mat-form-field class="d-flex">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" 
                           placeholder="Email">
                    @if (email.hasError('email') && !email.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (email.hasError('required')) {
                      <mat-error>Email is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>
            </div>
            <div class="col-md-12 mb-2">
                <mat-form-field class="d-flex">
                    <mat-label>Password</mat-label>
                    <input type="text" matInput formControlName="password" 
                           placeholder="Password">
                    @if (password.hasError('email') && !password.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                    @if (password.hasError('required')) {
                      <mat-error>Email is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>
            </div>
            <div class="col-md-12 mb-5 text-end">
          <button mat-flat-button type="submit" color="primary">Sign Up <mat-icon>arrow_forward</mat-icon></button>
            </div>
            <div class="col-md-12 d-flex align-items-center justify-content-center gap-3"  [routerLink]="['/auth/login']">
             Already a user ? <button type="button" mat-raised-button color="primary">Sign In <mat-icon>redo</mat-icon></button>
            </div>
        </div>
    </form>
</div>